.header-container{
   display: flex;
   color: #0498b7;
   align-items: center;
}

.logo-image-container{
    flex-grow: 1;
}

.logo-image{
    width: 200px;
}

.nav-heading-container{
    width: 48rem;
}

.nav-heading-container ul{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.nav-heading-container ul li{
    font-weight: bolder;
    cursor: pointer;
}

.nav-heading-container ul li:hover{
   color: #a1efff;
}